#customcursor {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: red;
    position: absolute;
    z-index: 25;
    pointer-events: none;
}

body {
    /*cursor: none;*/
}

.reveal {
    z-index: 50;
    position: relative;
}