#customcursor {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: red;
    position: absolute;
    z-index: 100;
    pointer-events: none;
}

body {
    /*cursor: none;*/
}