:root {
    --redtheme: red;
    --graytheme: #f2f3f5;
    --textontheme: white;
    --textcolor: black;
}

@media screen and (max-width: 850px) {
    #navbartoggle {
        display: flex !important;
    }
    #navlist {
        width: 0px;
    }
}

#navigation {
    position: fixed;
    left: 0;
    margin: 30px;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 50;
}

#navlist {
    list-style-type: none;
    overflow: hidden;
    transition: width .5s ease-in-out;
}

#navlist a {
    border-radius: 30px;
    margin: 15px;
    width: 60px;
    height: 60px;
    background-color: var(--graytheme);
    display: flex;
    align-items: center;
    justify-content: left;
    transition: width .5s ease-in-out, color .5s ease-in-out;
    color: var(--textcolor);
    text-decoration: none;
}

#navlist a:hover {
    width: 160px;
    color: var(--textontheme);
}

#navlist li h4 {
    display: none;
    transition: display .5s ease-in-out;
    font-family: Montserrat, sans-serif;
}

#navlist i {
    width: 20px;
    height: 20px;
    margin: 20px;
}

#navlist a:hover h4 {
    display: inline;
    font-size: 20px;
}

#navlist .active {
    background-color: var(--redtheme);
    color: var(--textontheme);
}

#navbartoggle {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    color: var(--redtheme);
    border-radius: 10px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    display: none;
}

#navbartoggle i {
    font-size: 40px;
    transition: color .5s ease-in-out;
}

#navbartoggle:hover {
    color: var(--textontheme);
}

.autowidth {
    width: auto !important;
}