:root {
    --themecolor: red;
    --subtheme: #303030;
    --textontheme: white;
    --textonsubtheme: #aaaaaa;
    --textcolor: #dddddd;
    --fontfamily: Montserrat, sans-serif;
    --backgroundcolor: #151716;
    --almostbackground: #222423;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: var(--backgroundcolor);
    color: var(--textcolor);
}

#mainwrapper {
    position: relative;
}

.section {
    height: 500px;
    width: 100%;
}

@media screen and (max-width: 850px) {
    .section-container {
        padding-left: 20px !important;
    }
}

.section-container {
    padding-left: 220px;
    padding-right: 10px;
    font-family: var(--fontfamily);
}

.section-title {
    padding-top: 50px;
    font-size: 50px;
    margin-bottom: 20px;
}

.heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.section-title:before {
    content: "";
    display: block;
    width: 120px;
    height: 1px;
    background: var(--textcolor);
    position: relative;
    top: 60px;
    left: calc(50% - 60px);
}

.section-title:after {
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background: var(--themecolor);
    position: relative;
    bottom: 3px;
    left: calc(50% - 20px);
}


/* HOME/LANDING */

#home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--fontfamily);
    align-items: flex-start;
}

#webtitle {
    font-size: 80px;
    text-shadow: 0px 0px 15px black
}

#typing h2,
h3 {
    display: inline;
}

#typing h3 {
    border-right: solid 3px black;
    animation: blinker 0.5s steps(2, end) infinite;
}

@keyframes blinker {
    0% {
        border-right-color: transparent;
    }
    50% {
        border-right-color: black;
    }
    100% {
        border-right-color: black;
    }
}


/* ABOUT SECTION */

#aboutinsetshadow {
    box-shadow: 0 0 50px white inset;
    padding: 20px;
    width: 33.33%;
    height: max-content;
    z-index: 11;
    position: relative;
    border-radius: 5px;
    flex: 1 1 0;
}

#about img {
    width: 100%;
    z-index: 10;
    position: relative;
}

#about .section-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#aboutlistcontent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.aboutlist li {
    margin-bottom: 20px;
}

.aboutlist h5,
.aboutlist p {
    display: inline;
}

.aboutlist h5 {
    font-size: 18px;
}

.aboutlist p {
    font-size: 18px;
}

.aboutlist i {
    color: var(--themecolor);
}

.aboutlist {
    flex: 1 1 50%;
    max-width: 50%;
    margin-left: 5px !important;
}

#aboutsubcontent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 2 2 0;
}

#aboutparagraph {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
}

@media screen and (max-width: 980px) {
    #about .section-content {
        flex-direction: column;
    }
    #aboutinsetshadow {
        width: 100%;
    }
}


/* SKILLS SECTION */

#skills .section-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px 10px;
}

#skills #skillscanvascontainer {
    flex: 1 1 0;
}

#skills #skillsdetailscontainer {
    flex: 1 1 0;
}

#skillscanvascontainer {
    width: 100%;
    min-width: 50%;
    aspect-ratio: 1 / 1;
    box-shadow: 0 0 10px var(--subtheme);
    border-radius: 10px;
    font-weight: 900;
}

#skillscanvascontainer a {
    color: var(--textcolor);
    background-color: var(--themecolor);
}

#skillsdetailscontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#skillsdetailssize {
    width: 100%;
    position: relative;
}

.skillsdetail {
    position: absolute;
    display: flex;
    flex-direction: column;
    /* pointer-events: none; */
    /* width: 0; */
    overflow: hidden;
    z-index: 9;
    transition: z-index .1s ease 1s;
}

.skillsdetail:after {
    position: absolute;
    background-color: var(--backgroundcolor);
    top: 0;
    right: 0;
    height: 100%;
    display: inline-block;
    content: "";
    transition: width 1s ease-in;
    width: 100%;
}

.shown {
    z-index: 10;
}

.shown:after {
    transition: width 1s ease-in 1.1s;
    width: 0%;
}

.skilltitle {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

.topdetail {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.cardcontainer {
    aspect-ratio: 1/1;
    width: 50%;
    flex: 1 1 0;
    background-color: transparent;
    perspective: 1000px;
    margin-left: 10px;
}

.skillcard {
    transition: box-shadow .4s ease-in;
    background-color: var(--almostbackground);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.cardfront,
.cardback {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.cardfront {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardback {
    transform: rotateY(180deg);
    padding: 10px;
}

.flipped {
    transform: rotateY(180deg);
}

.skilldescription {
    flex: 1 1 0;
}

.skillcard i {
    font-size: 100px;
    transition: color .25s ease-in;
    /* left: calc(50% + 50px);
    top: calc(50% + 50px); */
}

.bottomdetail {
    margin: 10px;
}

.bottomdetail h5 {
    text-align: center;
    font-size: 17px;
    margin-bottom: 10px;
}

.bottomdetail table,
.bottomdetail table th,
.bottomdetail table td {
    border-collapse: collapse;
    border: 2px solid;
    border-color: var(--subtheme);
    padding: 3px;
}

.bottomdetail table {
    width: 100%;
}

@media screen and (max-width: 850px) {
    #skills .section-content {
        flex-direction: column;
    }
}